/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* Reset CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset CSS */

/* Fonts */
@font-face {
  font-family: "Nord";
  src: url(assets/fonts/Norse-Bold.otf);
}

@font-face {
  font-family: "Open-sans";
  src: url(assets/fonts/OpenSans-VariableFont_wdth\wght.ttf);
  font-style: normal;
}

@font-face {
  font-family: "Open-sans";
  src: url(assets/fonts/OpenSans-Italic-VariableFont_wdth\wght.ttf);
  font-style: italic;
}
/* Fonts */

html,
body,
:root {
  height: 100%;
  font-family: "Open-sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  min-height: 100%;
  margin: 0 auto;
  max-width: 1536px;
  display: flex;
}

/* Cover */

.cover {
  width: 32%;
  background-image: url(./assets/images/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  position: relative;
  flex-shrink: 0;
}

.cover .image-credit {
  color: lightgray;
  font-size: 12px;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.cover .image-credit a {
  color: lightgray;
}

.cover .image-credit a:hover {
  color: white;
}

.cover .logo-wrapper {
  position: absolute;
  top: 25%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Nord", Arial, Helvetica, sans-serif;
  font-size: 85px;
}

.cover .logo-wrapper img {
  width: 90px;
  height: auto;
  margin-right: 8px;
}

/* Cover */

/* Content */

.content {
  flex-grow: 1;
  padding-top: 190px;
  background-color: #f9fafb;
  color: #000000;
  max-width: 60%;
}

.content .marketing-text {
  padding: 0 56px;
  font-size: 24px;
  font-weight: 600;
}
.content .marketing-text p {
  width: 75%;
}
.content .marketing-text p:first-child {
  margin-bottom: 24px;
}

.content .marketing-text em {
  font-style: italic;
}

.content .card {
  margin-top: 54px;
  padding: 32px 56px;
  background-color: #ffffff;
  box-shadow: 0px 5px 8px #d4d4d4;
}
.content .card h2 {
  color: #1f2937;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}

.form-inputs {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  font-size: 14px;
}

.input-row {
  display: flex;
  gap: 78px;
}

.form-item {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.form-item > label {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.025em;
  color: #1f2937;
  margin-bottom: 8px;
}
.form-item > input {
  border: 1px solid #e5e7eb;
  padding: 10px 10px;
  border-radius: 5px;
  background: transparent;
  outline-color: #3b82f6;
}
.form-item > input:focus {
  box-shadow: 0 1px 1px #93c5fd;
}
.form-item > input.error {
  border-color: red;
  outline-color: red;
}
.input-error {
  font-size: 14px;
  margin-top: 3px;
  color: red;
  display: none;
}
.form-item > input.error + .input-error {
  border-color: red;
  outline-color: red;
  display: inline;
}

div.card + div {
  padding: 40px 56px;
}

.sign-up-btn {
  border: none;
  background-color: #596d48;
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 15px 45px;
  border-radius: 5px;
  cursor: pointer;
}

div.card + div p {
  margin-top: 24px;
  font-size: 18px;
  font-weight: 500;
}
div.card + div p > a {
  color: #596d48;
}

/* Content */